﻿@model FileUploadExample.Models.InputFile

@{
    ViewData["Title"] = "Index";
}

<h1>Upload the data in a csv file format.</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" enctype="multipart/form-data">

            <div class="form-group">
                <label  class="control-label"></label>
                <input type="file" name="CsvFile" />
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<img src="/Images/Group 1170.svg" />

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
