﻿@model DashboardViewModel

<canvas id="departmentAnalysisCanvas"></canvas>

<script>
    var color = Chart.helpers.color;

    var barChartData1 = {

        labels: ['Potentially Underpaid', 'OK'],

        @{

            var datasets = string.Join(", ",
                Model.DepartmentAnalysis.Select(f => @"
                {
                    label: '" + f.Department + @"',
                    backgroundColor: '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6),
                    borderColor: window.chartColors.black,
                    borderWidth: 1,
                    data: [" + f.Underpaid + "," + f.Ok + @",]
                }")
            );
        }
       
        datasets: [@Html.Raw(datasets)]
    };

    window.departmentBar = new Chart(document.getElementById('departmentAnalysisCanvas').getContext('2d'), {
        type: 'bar',
        data: barChartData1,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Department Analysis'
            }
        }
    });
</script>