﻿@model DashboardViewModel

<canvas id="canvas"></canvas>

<script>
    var color = Chart.helpers.color;

    var barChartData = {
        labels: ['Potentially Underpaid', 'OK'],

        datasets: [
        {
            label: 'Male',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                -@Model.GenderAnalysis.MaleUnderpaid,
                @Model.GenderAnalysis.MaleOk,
            ]
        },

        {
            label: 'Female',
            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: [
                -@Model.GenderAnalysis.FemaleUnderpaid,
                @Model.GenderAnalysis.FemaleOk,
                ]
            }
        ]
    };

    var ctx = document.getElementById('canvas').getContext('2d');
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Gender Analysis'
            }
        }
    });
</script>