﻿<div id="canvas-holder" >
    <canvas id="chart-area"></canvas>
</div>
<button id="randomizeData4">Randomize Data</button>
<button id="addDataset4">Add Dataset</button>
<button id="removeDataset4">Remove Dataset</button>
<script>
		var randomScalingFactor1 = function() {
			return Math.round(Math.random() * 100);
		};

		var config = {
			type: 'pie',

			data: {
				datasets: [{
					data: [
                        randomScalingFactor1(),
                        randomScalingFactor1(),
                        randomScalingFactor1(),
                        randomScalingFactor1(),
                        randomScalingFactor1(),
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue,
					],
					label: 'Dataset 1'
				}],
				labels: [
					'Red',
					'Orange',
					'Yellow',
					'Green',
					'Blue'
				]
			},
			options: {
				responsive: true
			}
		};

		window.onload = function() {
		
		};

		document.getElementById('randomizeData4').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
                    return randomScalingFactor1();
				});
			});

			window.myPie.update();
		});

		var colorNames4 = Object.keys(window.chartColors);
		document.getElementById('addDataset4').addEventListener('click', function() {
			var newDataset = {
				backgroundColor: [],
				data: [],
				label: 'New dataset ' + config.data.datasets.length,
			};

			for (var index = 0; index < config.data.labels.length; ++index) {
                newDataset.data.push(randomScalingFactor1());

				var colorName = colorNames4[index % colorNames4.length];
				var newColor = window.chartColors[colorName];
				newDataset.backgroundColor.push(newColor);
			}

			config.data.datasets.push(newDataset);
			window.myPie.update();
		});

		document.getElementById('removeDataset4').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myPie.update();
		});

    var ctx = document.getElementById('chart-area').getContext('2d');
    window.myPie = new Chart(ctx, config);
</script>