﻿   <canvas id="canvas2"></canvas>
<br>
<br>
<button id="randomizeData2">Randomize Data</button>
<button id="addDataset2">Add Dataset</button>
<button id="removeDataset2">Remove Dataset</button>
<button id="addData2">Add Data</button>
<button id="removeData2">Remove Data</button>
<script>
    var MONTHS2 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var config2 = {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ],
                fill: false,
            }, {
                label: 'My Second dataset',
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    window.onload = function () {
   
        //var ctx2 = document.getElementById('canvas2').getContext('2d');
        //window.myLine = new Chart(ctx2, config2);

        //console.log(ctx2);
    };

    document.getElementById('randomizeData2').addEventListener('click', function () {
        config2.data.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
                return randomScalingFactor();
            });

        });

        window.myLine.update();
    });

    var colorNames2 = Object.keys(window.chartColors);
    document.getElementById('addDataset2').addEventListener('click', function () {
        var colorName = colorNames2[config2.data.datasets.length % colorNames2.length];
        var newColor = window.chartColors[colorName];
        var newDataset = {
            label: 'Dataset ' + config2.data.datasets.length,
            backgroundColor: newColor,
            borderColor: newColor,
            data: [],
            fill: false
        };

        for (var index = 0; index < config2.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());
        }

        config2.data.datasets.push(newDataset);
        window.myLine.update();
    });

    document.getElementById('addData2').addEventListener('click', function () {
        if (config2.data.datasets.length > 0) {
            var month = MONTHS2[config2.data.labels.length % MONTHS2.length];
            config2.data.labels.push(month);

            config2.data.datasets.forEach(function (dataset) {
                dataset.data.push(randomScalingFactor());
            });

            window.myLine.update();
        }
    });

    document.getElementById('removeDataset2').addEventListener('click', function () {
        config2.data.datasets.splice(0, 1);
        window.myLine.update();
    });

    document.getElementById('removeData2').addEventListener('click', function () {
        config2.data.labels.splice(-1, 1); // remove the label first

        config2.data.datasets.forEach(function (dataset) {
            dataset.data.pop();
        });

        window.myLine.update();
    });

    console.log("a");
    var ctx2 = document.getElementById('canvas2').getContext('2d');
    window.myLine = new Chart(ctx2, config2);

    console.log(ctx2);
</script>