﻿<canvas id="canvas3"></canvas>
<button id="randomizeData3">Randomize Data</button>
<button id="addDataset3">Add Dataset</button>
<button id="removeDataset3">Remove Dataset</button>
<button id="addData3">Add Data</button>
<button id="removeData3">Remove Data</button>
<script>
		var MONTHS3 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var color3 = Chart.helpers.color;
		var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: color3(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Dataset 2',
				backgroundColor: color3(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]

		};

	window.onload = function () {
        
	

	};

		document.getElementById('randomizeData3').addEventListener('click', function() {
			var zero = Math.random() < 0.2 ? true : false;
			barChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return zero ? 0.0 : randomScalingFactor();
				});

			});
			window.myBar3.update();
		});

		var colorNames3 = Object.keys(window.chartColors);
		document.getElementById('addDataset3').addEventListener('click', function() {
			var colorName = colorNames3[barChartData.datasets.length % colorNames3.length];
			var dsColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + (barChartData.datasets.length + 1),
				backgroundColor: color3(dsColor).alpha(0.5).rgbString(),
				borderColor: dsColor,
				borderWidth: 1,
				data: []
			};

			for (var index = 0; index < barChartData.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			barChartData.datasets.push(newDataset);
			window.myBar3.update();
		});

		document.getElementById('addData3').addEventListener('click', function() {
			if (barChartData.datasets.length > 0) {
                var month = MONTHS3[barChartData.labels.length % MONTHS3.length];
				barChartData.labels.push(month);

				for (var index = 0; index < barChartData.datasets.length; ++index) {
					// window.myBar.addData(randomScalingFactor(), index);
					barChartData.datasets[index].data.push(randomScalingFactor());
				}

                window.myBar3.update();
			}
		});

		document.getElementById('removeDataset3').addEventListener('click', function() {
			barChartData.datasets.pop();
            window.myBar3.update();
		});

		document.getElementById('removeData3').addEventListener('click', function() {
			barChartData.labels.splice(-1, 1); // remove the label first

			barChartData.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});

            window.myBar3.update();
		});

    var ctx3 = document.getElementById('canvas3').getContext('2d');
    window.myBar3 = new Chart(ctx3, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Chart.js Bar Chart'
            }
        }
    });
</script>