﻿@using ReadytechWorkforceML.Models.Response
@using Newtonsoft.Json

@model PredictionResult

@{
    ViewData["Title"] = "Dashboard";
}

@section HeadScripts
{
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/utils.js"></script>
}

<style>

    .col-md-6, .col-md-5 {
        border: 1px solid #999;
        margin: 5px;
    }

    .col-md-10 {
        border: 1px solid #999;
        margin: 5px;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto
    }
</style>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Award Level</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Location</th>
                        <th scope="col">Department</th>
                        <th scope="col">Position</th>
                        <th scope="col">Award Level Rate</th>
                        <th scope="col">Predicted Award Level</th>
                        <th scope="col">Predicted Rate</th>
                        <th scope="col">%</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var employees = Model.Data.Where(x=>x.PredictedDiffPercentage > 0).OrderByDescending(x => x.PredictedDiffPercentage).Take(100).ToList();
                        int count = 1;
                        foreach (var employee in employees)
                        {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@employee.EmployeeLastName @employee.EmployeeFirstName</td>
                                            <td>@employee.AwardLevel</td>
                                            <td>@employee.Age</td>
                                            <td>@employee.Gender</td>
                                            <td>@employee.Location</td>
                                            <td>@employee.Department</td>
                                            <td>@employee.Position</td>
                                            <td>@String.Format("{0:0.00}", employee.AwardLevelRate)</td>
                                            <td>@String.Format("{0:0.00}", @employee.PredictedLevelRate)</td>
                                            <td>@employee.PredictedAwardLevel</td>
                                            <td>@String.Format("{0:0.00}", @employee.PredictedDiffPercentage)</td>
                                        </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
       </div>
    </div>
</div>
