﻿@using ReadytechWorkforceML.Models.Response
@using Newtonsoft.Json

@model PredictionResult

@{
    ViewData["Title"] = "Dashboard";
}

@section HeadScripts
{
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/utils.js"></script>
}

<style>

    .col-md-6, .col-md-5 {
        border: 1px solid #999;
        margin: 5px;
    }

    .col-md-10 {
        border: 1px solid #999;
        margin: 5px;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto
    }
</style>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Award Level Rate</th>
                        <th scope="col">Predicted Rate</th>
                        <th scope="col">%</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var employees = Model.Data.OrderByDescending(x => x.PredictedDiffPercentage).Take(5).ToList();
                        int count = 1;
                        foreach (var employee in employees)
                        {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@employee.EmployeeLastName @employee.EmployeeFirstName</td>
                                            <td>@String.Format("{0:0.00}", employee.AwardLevelRate)</td>
                                            <td>@String.Format("{0:0.00}", @employee.PredictedLevelRate)</td>
                                            <td>@String.Format("{0:0.00}", @employee.PredictedDiffPercentage)</td>
                                        </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Employees" target="_blank"><b>More ></b></a>
        </div>
        <div class="col-md-5">
            <canvas id="chart1"></canvas>
            <canvas id="chart3"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <canvas id="chart2"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <canvas id="chart4"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <canvas id="chart5"></canvas>
        </div>
    </div>
</div>
<script>
    @{ var data = JsonConvert.SerializeObject(Model.Data); }
    var data = @Html.Raw(data);

    var PredictedDiffPercentageThreshold = 0.0;

    var colourList = [
        "#ff69b4",
        "#8a2be2",
        "#20b2aa",
        "#8470ff",
        "#0bfff",
        "#5f9ea0",
        "#ffd700",
        "#cd5c5c",
        "#00ff7f",
        "#009e7f"
    ]

    // returns a new object with the values at each key mapped using mapFn(value) https://stackoverflow.com/questions/14810506/map-function-for-objects-instead-of-arrays
    function objectMap(object, mapFn) {
        return Object.keys(object).reduce(function (result, key) {
            result[key] = mapFn(object[key])
            return result
        }, {})
    }

    // CHART 1
    var ctx = document.getElementById('chart1').getContext('2d');
    var chart1_males_ok = 0;
    var chart1_females_ok = 0;
    var chart1_males_under = 0;
    var chart1_females_under = 0;

    objectMap(data, d => {
        console.log(d)
        if (d.Gender == "Female" && d.PredictedDiffPercentage <= PredictedDiffPercentageThreshold) {
            chart1_females_ok++;
        } else if (d.Gender == "Female" && d.PredictedDiffPercentage > PredictedDiffPercentageThreshold) {
            chart1_females_under++;
        } else if (d.Gender == "Male" && d.PredictedDiffPercentage <= PredictedDiffPercentageThreshold) {
            chart1_males_ok++;
        } else if (d.Gender == "Male" && d.PredictedDiffPercentage > PredictedDiffPercentageThreshold) {
            chart1_males_under++;
        }
    });

    var chart1 = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Potentially Underpaid', 'OK'],
            datasets: [{
                label: 'Female',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [chart1_females_under, chart1_females_ok]
            },
            {
                label: 'Male',
                backgroundColor: 'rgb(50,90,168)',
                borderColor: 'rgb(50,90,168)',
                data: [chart1_males_under, chart1_males_ok]
            }]
        },

        // Configuration options go here
        options: {
            title:
            {
                text: 'Gender Analysis',
                display: true
            }
        }
    });


    // Chart 2
    var ctx = document.getElementById('chart2').getContext('2d');
    var chart2_datasets = [];

    // GET data
    objectMap(data, d => {

        // find department in datasets (add it in if it isn't there)
        var deptElement = chart2_datasets.find(element => element.label == d.Department);

        if (deptElement == undefined) {
            chart2_datasets.push({
                label: d.Department,
                backgroundColor: colourList[chart2_datasets.length],
                borderColor: colourList[chart2_datasets.length],
                data: [0, 0]
            });

            deptElement = chart2_datasets.find(element => element.label == d.Department);
        }

        if (d.PredictedDiffPercentage <= PredictedDiffPercentageThreshold) {
            deptElement.data[1]++;
        } else if (d.PredictedDiffPercentage > PredictedDiffPercentageThreshold) {
            deptElement.data[0]++;
        }
    });

    var chart2 = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        // The data for our dataset
        data: {
            labels: ['Potentially Underpaid', 'OK'],
            datasets: chart2_datasets
        },

        // Configuration options go here
        options: {
            title:
            {
                text: 'Department Analysis',
                display: true
            }
        }
    });


    // Chart 3
    var ctx = document.getElementById('chart3').getContext('2d');
    var chart3 = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',
        // The data for our dataset
        data: {
            labels: ['Female', 'Male'],
            datasets: [{
                data: [chart1_females_under, chart1_males_under],
                backgroundColor: ['rgb(255, 99, 132)', 'rgb(50,90,168)']
            }]
        },

        // Configuration options go here
        options: {
            title:
            {
                text: 'Potential underpayments by Gender',
                display: true
            }
        }
    });


    // Chart 4
    var ctx = document.getElementById('chart4').getContext('2d');

    console.log(chart2_datasets);
    var chart4_labels = objectMap(chart2_datasets, ds => ds['data'][0])

    console.log(chart4_labels)
    var chart4 = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',
        // The data for our dataset
        data: {
            labels: Object.values(objectMap(chart2_datasets, ds => ds['label'])),
            datasets: [{
                label: objectMap(chart2_datasets, ds => ds['label']),
                data: Object.values(objectMap(chart2_datasets, ds => ds['data'][0])),
                backgroundColor: Object.values(objectMap(chart2_datasets, ds => ds['backgroundColor']))
            }]
        },

        // Configuration options go here
        options: {
            title:
            {
                text: 'Potential underpayments by department',
                display: true
            }
        }
    });


    // Chart 5
    var ctx = document.getElementById('chart5').getContext('2d');
    var chart5_data_male = []
    var chart5_data_female = []


    objectMap(data, d => {
        if (d.PredictedDiffPercentage > PredictedDiffPercentageThreshold) {

            if (d.Gender == "Female") {

                chart5_data_female.push({ x: d.Age, y: d.Tenure });

            } else {
                chart5_data_male.push({ x: d.Age, y: d.Tenure });

            }
        }
    });



    var chart5 = new Chart(ctx, {
        // The type of chart we want to create
        type: 'scatter',
        labels: ["Age", "Tenure"],
        // The data for our dataset
        data: {
            labels: 'Potential underpayment size',
            datasets: [{
                label: 'Potential underpayments for females',
                data: chart5_data_female,
                backgroundColor: 'rgb(255, 99, 132)'
            },
            {
                label: 'Potential underpayments for males',
                data: chart5_data_male,
                backgroundColor: 'rgb(50,90,168)'
            }]
        }
        ,

        // Configuration options go here
        options: {
            title:
            {
                text: 'Potential underpayments by Age, Tenure and Gender',
                display: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Tenure (Days)",
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Employee Age (Years)",
                    }
                }]
            }
        }
    });

</script>