﻿@model DashboardViewModel

    @{
        ViewData["Title"] = "Dashboard";
    }

    @section HeadScripts
{
        <script src="~/js/Chart.min.js"></script>
        <script src="~/js/utils.js"></script>
    }

<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <partial name="~/Views/Dashboard/_DepartmentAnalysis.cshtml" />
        </div>
        <div class="col-xl-6">
            <partial name="~/Views/Dashboard/_GenderAnalysis.cshtml" />
        </div>
    </div>
</div>

        <partial name="~/Views/Dashboard/_Widget2.cshtml" />
        <partial name="~/Views/Dashboard/_Widget3.cshtml" />
        <partial name="~/Views/Dashboard/_Widget4.cshtml" />
